.App {
  font-family: sans-serif;
  text-align: center;
}

.leftelement {
  text-align: left;
  left: 0;
}
.rightelement {
  text-align: right;
  margin-left: 80% !important;
  right: 0;
}
.centerelement {
  text-align: center;
}
